extends layout

block content
  .container.w-50
    .card
      .card-body
        h5.card-title= story[0].body
      div.d-flex.justify-content-between.w-100
        each link in links 
          .container.w-50.d-flex.justify-content-center
            a.btn.btn-warning(href=link.target_id)= link.description

      
