extends layout

block content
  .card(style='width: 50rem;')
    .card-body
      h5.card-title= story[0].body
      each link in links 
        a(href=link.target_id)
          button.btn.btn-warning(type='button')
            p= link.description
      
